<ion-item *ngIf="photo">
  <img [src]="photo.photo"
    onerror="this.onerror=null;
    this.src='../../assets/image-not-available.jpg'"
    alt="" (load)="imageLoad()" [ngClass]="{'img-loaded':photo.load}"
    [hidden]="!photo.load">
  <img [src]="'../../assets/source.gif'"
    alt="" [hidden]="photo.load">
  <ion-label>
    <ion-text>
      <h2>{{photo.text | capitalize }}</h2>
    </ion-text>
  </ion-label>
</ion-item>
